.container {
  .topNav {

  }
  .topNav.topNav-blue {
    color: $app-bg-blue;
  }
  .topNav.topNav-purple {
    color: $app-bg-purple;
  }
  .topNav.topNav-green {
    color: $app-bg-green;
  }
  .topNav.topNav-green {
    color: $app-bg-orange;
  }
}