@import '../App.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .topNav {
    height: 100%;
    line-height: 100%;
    margin-left: -3.6rem;
    text-align: center;
    font-size: 2rem;
    color: $app-white;
    width: 100%;
  }

  .navButton {
    text-align: left;
    padding: 0 0.9rem;
    cursor: pointer;
    color: $app-white;
  }

  .navDetails {
    color: $app-white;
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
  }
  
  .hamburger {
    width: 2.2rem;
    height: 100%;
    padding: 0.5rem 0.5rem 0.05rem 0.5rem;
    align-self: center;
    cursor: pointer;
    z-index: 2;

    div{
      height: 0.3rem;
      cursor: pointer;
      background-color: $app-white;
      border-radius: 2px;
      margin-bottom: 0.5rem;
    }
  }
}
.menuContainer {
  .menuSideBar {
    background-color: $app-white;
    height: 100vh;
    z-index: 5;
    top: 0;
    position: fixed;
    color: $app-gray;
  }
  .menuHeader{
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
    color: $app-black;
  }

  .menuItem{
    padding: 1.5rem 6rem 1.5rem 1rem;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 7;
  }

  .menuOverlay{
    position: fixed;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    height: 100vh;
    width: 100vw;
    background-color: $app-translucent;
  }
}

.settings {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 10px $app-gray;

  .colorContainer {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover{
      cursor: pointer;
    }

    &.active-blue{
      background-color: $app-bg-blue;
    }
    &.active-purple{
      background-color: $app-bg-purple;
    }
    &.active-green{
      background-color: $app-bg-green;
    }
    &.active-orange{
      background-color: $app-bg-orange;
    }
  }

  .color {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.bgBlue {
  background-color: $app-blue;
}
.bgPurple {
  background-color: $app-purple;
}
.bgGreen {
  background-color: $app-green;
}
.bgOrange {
  background-color: $app-orange;
}