@import '../App.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .topNav {
    line-height: 1rem;
    margin-left: -5rem;
    text-align: center;
    font-size: 2rem;
    color: $app-white;
    width: 100%;
  }

  .navButton {
    text-align: left;
    padding: 0 0.9rem;
    cursor: pointer;
    color: $app-white;
  }

  .navDetails {
    color: $app-white;
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
  }
  
  .menu {
    padding: 0 1rem;
    width: 3rem;
    height: 3rem;
    background-image: url(../assets/icons/hamburger-menu.svg);
    background-repeat: no-repeat;
  }
}

.settings {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 10px $app-gray;

  .colorContainer {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover{
      cursor: pointer;
    }

    &.active-blue{
      background-color: $app-bg-blue;
    }
    &.active-purple{
      background-color: $app-bg-purple;
    }
    &.active-green{
      background-color: $app-bg-green;
    }
    &.active-orange{
      background-color: $app-bg-orange;
    }
  }

  .color {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.bgBlue {
  background-color: $app-blue;
}
.bgPurple {
  background-color: $app-purple;
}
.bgGreen {
  background-color: $app-green;
}
.bgOrange {
  background-color: $app-orange;
}