$app-bg-blue: #d7eeff;
$app-bg-purple: #eed9ff;
$app-bg-green: #e5ffc8;
$app-bg-orange: #ffdfbc;

$app-blue: #0095ff;
$app-purple: #9000ff;
$app-green: #64bc00;
$app-orange: #ff8400;

$app-gray: #aeaeae;
$app-red: #ff5656;
$app-black: #000;
$app-white: #fff;
$app-translucent: rgba(0, 0, 0, 0.6);


:global(.bg-blue){
  background-color: $app-bg-blue;
}
:global(.bg-purple){
  background-color: $app-bg-purple;
}
:global(.bg-green){
  background-color: $app-bg-green;
}
:global(.bg-orange){
  background-color: $app-bg-orange;
}
:global(.blue){
  color: $app-blue;
}
:global(.purple){
  color: $app-purple;
}
:global(.green){
  color: $app-green;
}
:global(.orange){
  color: $app-orange;
}
:global(.gray){
  color: $app-gray;
}
:global(.white){
  color: $app-white;
}
:global(.bg-main-blue){
  background-color: $app-blue;
}
:global(.bg-main-purple){
  background-color: $app-purple;
}
:global(.bg-main-green){
  background-color: $app-green;
}
:global(.bg-main-orange){
  background-color: $app-orange;
}
:global(.bg-main-red) {
  background-color: $app-red;
}

// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
