@import '../App.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;

  .buttonCenter {
    position: fixed;
    top: 45%;
    align-self: center;
    justify-content: center;

    div {
      cursor: pointer;
      padding: 1rem;
      font-size: 1.5rem;
      border-radius: 0.5rem;
    }
  }

  .newListForm {
    position: fixed;
    height: 2.5rem;
    top: 45%;
    align-self: center;
    justify-content: center;
  }
}
.list {
  text-align: center;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .itemRow {
    @media (min-width: 620px) {
      width: 37rem;
    }
    @media (min-width: 1024px) {
      width: 50rem;
    }
    width: 95vw;
    .item {
      display: flex;
      height: 1.4rem;
      padding: 0.1rem;
      display: flex; 
      align-items: center;
      justify-content: space-between;
  
    }
    .itemBorder{
      height: 1.5px;
      width: 100%;
      border-radius: 2px;
    }
  }

  .icon{
    margin: 1px;
    cursor: pointer;
    width: 1.13rem;
    height: 0.5rem;
    mask: url('../assets/icons/arrow-right.svg');
    -webkit-mask: url('../assets/icons/arrow-right.svg');
    -webkit-mask-size: cover;
    mask-size: cover;
  }
}

.buttonBottom {
  padding: 1rem 0;
  text-align: center;
  cursor: pointer;

  div {
    font-size: unset;
    background-color: unset;
  }
}

.infoMessage {
  padding: 1rem;
}

form {
  input {
    line-height: 1.4rem;
    padding: 0.3rem;
    border: 1px solid $app-black;
    &:focus{
      outline: none;
    }
  }
  
  button{
    cursor: pointer;
    display: inline-block;
    border: none;
    padding: 0.45rem 0.5rem 0.5rem;
  }
}

.disabled{
  background-color: $app-gray;
}